*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing:border-box;
}
.hero{
    width:100%;
    min-height:100vh;
    background:linear-gradient(45deg,#08001f,#30197d);
    color:#fff;
    position:absolute;
}
.conatiner{
width:800px;
height:180px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
/* background:red */
}
.clock{
    width:100%;
    height:100%;
    background:rgba(235,0,255,0.11);
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    backdrop-filter: blur(40px);
}
.conatiner::before{
    content:'';
    height:150px;
    width:150px;
    background:#f41b75;
    border-radius:5px;
    position:absolute;
    left:-10px;
    top:-50px;
    z-index:-1;
}
.conatiner::after{
    content:'';
    height:150px;
    width:150px;
    background:#419aff;
    border-radius:50%;
    position:absolute;
    right:-20px;
    top:50px;
    z-index:-1;
    /* justify-content: space-between; */
}
.clock span{
    font-size:80px;
    width:110px;
    display:inline-block;
    text-align:center;
    position:relative;
}
.clock span::after{
 font-size:16px;
 position:absolute;
 bottom:-6px;
 left:50%;
 transform:translateX(-50%);

}
#hrs::after{
    content:'HOURS';

}
#min::after{
    content:'MINS';

}
#sec::after{
    content:'SEC';

}